/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de page et base */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

/* Style de la page d'accueil */
.page-accueil {
    text-align: center;
    background: white;
    padding: 60px 90px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px; 
    min-height: 400px;
}

.page-accueil h1 {
    font-size: 40px;
    margin: 20px auto;
	text-align: center;
}

.page-accueil p {
    font-size: 25px;
    margin-bottom: 70px;
}

.page-accueil a {
    background-color: #4facfe;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 40px auto;
    font-size: 20px;
    width: 100%;
    max-width: 250px;
    display: inline-block;
}

.page-accueil a:hover {
    background-color: #00f2fe;
}

.logo {
    display: block;
    margin: 0 auto 10px; 
    max-width: 200px; 
    height: auto; 
}

